@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter.woff2') format('woff');
}

@theme {
  --font-ui: 'Inter', sans-serif;

  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
