<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Backend</title>
</head>

<body>
    <h1>Process TMX matches</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <h2>Upload files</h2>
        <label for="tmx-file">Select a TMX file:</label>
        <input id="tmx-file" name="tmx-file" type="file" accept=".tmx" />
        <br />
        <label for="xliff-file">Select a XLIFF file:</label>
        <input id="xliff-file" name="xliff-file" type="file" accept=".xliff" />
        <button type="submit">Submit</button>
    </form>
    <div>
        <h1>TMX files list</h1>
        <ul>
            {% for file in tmx_files %}
            <li>file</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h1>XLIFF documents</h1>
        <ul>
            {% for doc in xliff_docs %}
            <li>doc</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>